
OOP-ICT.Third/obj/Debug/net7.0/OOP-ICT.Third.dll
*.cache
OOP-ICT.Fifth.Tests/obj/Debug/net7.0/OOP-ICT.Fifth.Tests.assets.cache
OOP-ICT.Fifth.Tests/obj/Debug/net7.0/OOP-ICT.Fifth.Tests.GeneratedMSBuildEditorConfig.editorconfig
OOP-ICT.Fifth.Tests/obj/OOP-ICT.Fifth.Tests.csproj.nuget.dgspec.json
OOP-ICT.Fifth.Tests/obj/project.assets.json
OOP-ICT.Fifth.Tests/obj/project.assets.json
OOP-ICT.Fifth.Tests/obj/project.nuget.cache
OOP-ICT.Fifth.Tests/obj/project.assets.json
OOP-ICT.Fifth.Tests/obj/Debug/net7.0/OOP-ICT.Fifth.Tests.assets.cache
OOP-ICT.Fifth.Tests/obj/Debug/net7.0/OOP-ICT.Fifth.Tests.GeneratedMSBuildEditorConfig.editorconfig
OOP-ICT.Fifth.Tests/obj/Debug/net7.0/OOP-ICT.Fifth.Tests.assets.cache
